<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Secure File Storage System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href=" {{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Secure File Storage System</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="{{ url_for('index') }}">Home</a></li> 
											<!-- TODO check if href isn't bad because can be changed with javascript -->
											{% if current_user.is_anonymous %}
											<li><a href="{{ url_for('login') }}">Login</a></li>
											{% else %}
											<li><a href="{{ url_for('upload') }}">Upload</a></li>
											<li><a href="{{ url_for('delete') }}">Delete</a></li>
											<li><a href="{{ url_for('logout') }}">Logout</a></li>
											{% endif %}
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<!-- <section id="banner">
						<div class="inner">

						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section> -->

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<div>
								{% with messages = get_flashed_messages() %}
								{% if messages %}
								<ul>
									{% for message in messages %}
									<li>{{ message }}</li>
									{% endfor %}
								</ul>
								{% endif %}
								{% endwith %}
								{% block content %}{% endblock %}
							</div>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Luc and Co</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>