{% extends "base.html" %}



{% block content %}
    <h1>Hi, {{ user.username }}!</h1>
    <div id="button_wrapper">
        <a href="{{ url_for('upload') }}/{{ path }}" >
            <div id="button_upload" >
                Upload <span class="fa fa-arrow-up"></span>
            </div>
        </a>
    </div>
    <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.folderName.label }}<br>
                {{ form.folderName }}<br>
                {% for error in form.folderName.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
    </form>
    <table class="table table-dark" >
            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">Filename</th>
                <th scope="col">Creation Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
    <tbody>
        {% if parent %}
            <tr>
                <td></td>
                <td><a href="{{ url_for('index') }}/{{ parent.name }}">...</a></td>
                <td></td>
                <td style="text-align: center"></td>
            </tr>
        {% endif %}
        {% if files or folders %}
            {% if folders %}
                {% for folder in folders %}
                    <tr>
                        <td><span class="fa fa-folder"></span></td>
                        <td><a href="{{ url_for('index') }}/{{ folder.name }}">{{ folder.name }}</a></td>
                        <td>{{ folder.creationDate.strftime('%d-%m-%Y') }}</td>
                        <td style="text-align: center"><a href="{{ url_for('deleteFolder', id=folder.id) }}"><span class="fa fa-trash"></span></a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if files %}
                {% for file in files %}
                    <tr>
                        <td><span class="fa fa-file"></span></td>
                        <td>{{ file.name }}</td>
                        <td>{{ file.creationDate.strftime('%d-%m-%Y') }}</td>
                        <td style="text-align: center"><a href="{{ url_for('deleteFile', id=file.id) }}"><span class="fa fa-trash"></span></a></td>
                    </tr>
                {% endfor %}
            {% endif %}

        {% else %}
        
        <tr id="table_empty_row" style="background: none; border:0px;">
            <td></td>
            <td>Empty directory</td>
        </tr>
        {% endif %}
    </tbody>
    </table>
{% endblock %}